/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 4 May 2024, 14:21:11
    Author     : User
*/


/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}


